#title{
   color:'white';
   border: '1px solid';
   box-shadow:'5px 10px';
   width:'300px'
}
.bg-text {
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
   color: white;
   font-weight: bold;
   border: 3px solid #f1f1f1;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
   width: 80%;
   padding: 20px;
   text-align: center;
 }
 
#elem{
   text-align:-webkit-center;
}
#elem:hover {
   opacity: 0.99;
}
#left{
   animation: fromLeft 1s linear alternate;
}
#right{
   animation: fromRight 1s linear alternate;
}
.carousel-inner{
   height: 400px
}
@keyframes fromLeft {
   0%{
       transform: translateX(-800px);
       opacity: 0.2;
   }
   50%{
      transform: translateX(60px);
       opacity: 1;
   } 
   100%{
      transform: translateX(0px);
       opacity: 1;
   } 
}
@keyframes fromRight {
   0%{
       transform: translateX(800px);
       opacity: 0.2;
   }
   50%{
      transform: translateX(-60px);
       opacity: 1;
   } 
   100%{
      transform: translateX(0px);
       opacity: 1;
   } 
}