body {
  /* background-color: aqua; */
}
.container {
  margin-top: "100px";
  border: "1px solid black";
  min-width: "100%";
}
.dash {
  align-self: start;
}

.boutton {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.boutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.boutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.boutton:hover span {
  padding-right: 25px;
}

.boutton:hover span:after {
  opacity: 1;
  right: 0;
}